In [1]:
import pandas as pd
import matplotlib as plt

In [49]:
df_flights = pd.read_csv('Flight_Departures_July.csv')
df_flights = df_flights.drop(['TAXI_OUT', 'WHEELS_OFF', 'CANCELLATION_CODE', 'Unnamed: 20'], axis=1)
df_flights.head(5)

,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CANCELLED,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,2015-07-06,AA,BOS,"Boston, MA",ORD,"Chicago, IL",1930,2131,121,0,867,0,0,95,0,18
1,1,2015-07-13,AA,BOS,"Boston, MA",ORD,"Chicago, IL",1930,2003,33,0,867,0,0,29,0,0
2,1,2015-07-20,AA,BOS,"Boston, MA",ORD,"Chicago, IL",1930,1925,-5,0,867,NaN,NaN,NaN,NaN,NaN
3,1,2015-07-27,AA,BOS,"Boston, MA",ORD,"Chicago, IL",1930,1938,8,0,867,NaN,NaN,NaN,NaN,NaN
4,1,2015-07-06,AA,ORD,"Chicago, IL",SEA,"Seattle, WA",1706,1703,-3,0,1721,0,0,17,0,0

In [50]:
df_flights.columns.values

array(['DAY_OF_WEEK', 'FL_DATE', 'UNIQUE_CARRIER', 'ORIGIN',
       'ORIGIN_CITY_NAME', 'DEST', 'DEST_CITY_NAME', 'CRS_DEP_TIME',
       'DEP_TIME', 'DEP_DELAY', 'CANCELLED', 'DISTANCE', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY'], dtype=object)

In [51]:
df_flights[['CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY']] = df_flights[['CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY']].fillna(0)
df_flights.head(5)

,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CANCELLED,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,2015-07-06,AA,BOS,"Boston, MA",ORD,"Chicago, IL",1930,2131,121,0,867,0,0,95,0,18
1,1,2015-07-13,AA,BOS,"Boston, MA",ORD,"Chicago, IL",1930,2003,33,0,867,0,0,29,0,0
2,1,2015-07-20,AA,BOS,"Boston, MA",ORD,"Chicago, IL",1930,1925,-5,0,867,0,0,0,0,0
3,1,2015-07-27,AA,BOS,"Boston, MA",ORD,"Chicago, IL",1930,1938,8,0,867,0,0,0,0,0
4,1,2015-07-06,AA,ORD,"Chicago, IL",SEA,"Seattle, WA",1706,1703,-3,0,1721,0,0,17,0,0

In [57]:
df_ord = df_flights[df_flights.ORIGIN == 'ORD']
df_ord = df_ord.sort('FL_DATE')
df_ord = df_ord.reset_index(drop=True)
df_ord.head(5)

,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CANCELLED,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,3,2015-07-01,EV,ORD,"Chicago, IL",CWA,"Mosinee, WI",1405,1400,-5,0,212,0,0,0,0,0
1,3,2015-07-01,OO,ORD,"Chicago, IL",SLC,"Salt Lake City, UT",800,755,-5,0,1250,0,0,0,0,0
2,3,2015-07-01,EV,ORD,"Chicago, IL",FNT,"Flint, MI",745,743,-2,0,223,0,0,0,0,0
3,3,2015-07-01,EV,ORD,"Chicago, IL",LEX,"Lexington, KY",2058,2053,-5,0,323,0,0,0,0,0
4,3,2015-07-01,DL,ORD,"Chicago, IL",ATL,"Atlanta, GA",1655,1757,62,0,606,62,0,23,0,0

###Count the number of delayed flights out of O'hare airport in July 2015

In [79]:
df_ord.groupby

,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CANCELLED,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,3,2015-07-01,EV,ORD,"Chicago, IL",CWA,"Mosinee, WI",1405,1400,-5,0,212,0,0,0,0,0
1,3,2015-07-01,OO,ORD,"Chicago, IL",SLC,"Salt Lake City, UT",800,755,-5,0,1250,0,0,0,0,0
2,3,2015-07-01,EV,ORD,"Chicago, IL",FNT,"Flint, MI",745,743,-2,0,223,0,0,0,0,0
3,3,2015-07-01,EV,ORD,"Chicago, IL",LEX,"Lexington, KY",2058,2053,-5,0,323,0,0,0,0,0
4,3,2015-07-01,DL,ORD,"Chicago, IL",ATL,"Atlanta, GA",1655,1757,62,0,606,62,0,23,0,0
5,3,2015-07-01,OO,ORD,"Chicago, IL",CVG,"Cincinnati, OH",620,618,-2,0,265,0,0,0,0,0
6,3,2015-07-01,EV,ORD,"Chicago, IL",GSP,"Greer, SC",1400,1358,-2,0,578,0,0,0,0,0
7,3,2015-07-01,EV,ORD,"Chicago, IL",SCE,"State College, PA",1810,1807,-3,0,528,0,0,0,0,0
8,3,2015-07-01,DL,ORD,"Chicago, IL",ATL,"Atlanta, GA",600,556,-4,0,606,0,0,0,0,0
10,3,2015-07-01,OO,ORD,"Chicago, IL",GRB,"Green Bay, WI",912,911,-1,0,173,0,0,0,0,0
11,3,2015-07-01,OO,ORD,"Chicago, IL",SLC,"Salt Lake City, UT",1615,1608,-7,0,1250,0,0,0,0,0
12,3,2015-07-01,DL,ORD,"Chicago, IL",MSP,"Minneapolis, MN",1928,1930,2,0,334,0,0,0,0,0
13,3,2015-07-01,DL,ORD,"Chicago, IL",ATL,"Atlanta, GA",1115,1111,-4,0,606,0,0,0,0,0
14,3,2015-07-01,OO,ORD,"Chicago, IL",XNA,"Fayetteville, AR",845,839,-6,0,522,0,0,0,0,0
17,3,2015-07-01,DL,ORD,"Chicago, IL",SLC,"Salt Lake City, UT",1830,1823,-7,0,1250,0,0,0,0,0
54,3,2015-07-01,MQ,ORD,"Chicago, IL",MEM,"Memphis, TN",2012,2011,-1,0,491,0,0,0,0,0
60,3,2015-07-01,MQ,ORD,"Chicago, IL",STL,"St. Louis, MO",1246,1242,-4,0,258,0,0,0,0,0
62,3,2015-07-01,MQ,ORD,"Chicago, IL",DSM,"Des Moines, IA",1333,1332,-1,0,299,0,0,0,0,0
66,3,2015-07-01,MQ,ORD,"Chicago, IL",DAY,"Dayton, OH",2150,2147,-3,0,240,0,0,0,0,0
68,3,2015-07-01,MQ,ORD,"Chicago, IL",SGF,"Springfield, MO",1321,1319,-2,0,438,0,0,0,0,0
81,3,2015-07-01,AA,ORD,"Chicago, IL",PHL,"Philadelphia, PA",910,939,29,0,678,0,0,0,0,0
85,3,2015-07-01,AA,ORD,"Chicago, IL",SFO,"San Francisco, CA",2015,2040,25,0,1846,0,0,0,0,0
89,3,2015-07-01,AA,ORD,"Chicago, IL",SEA,"Seattle, WA",1405,1423,18,0,1721,18,0,1,0,0
93,3,2015-07-01,AA,ORD,"Chicago, IL",TPA,"Tampa, FL",828,949,81,0,1012,65,0,0,0,0
97,3,2015-07-01,B6,ORD,"Chicago, IL",SJU,"San Juan, PR",900,907,7,0,2072,0,0,0,0,0
101,3,2015-07-01,B6,ORD,"Chicago, IL",JFK,"New York, NY",2034,2031,-3,0,740,0,0,0,0,0
105,3,2015-07-01,B6,ORD,"Chicago, IL",BOS,"Boston, MA",1025,1216,111,0,867,0,0,10,0,103
109,3,2015-07-01,B6,ORD,"Chicago, IL",JFK,"New York, NY",1312,1333,21,0,740,0,0,0,0,0
113,3,2015-07-01,B6,ORD,"Chicago, IL",JFK,"New York, NY",1634,2001,207,0,740,20,0,0,0,157
125,3,2015-07-01,AS,ORD,"Chicago, IL",PDX,"Portland, OR",1730,1742,12,0,1739,0,0,0,0,0
126,3,2015-07-01,AS,ORD,"Chicago, IL",ANC,"Anchorage, AK",945,936,-9,0,2846,0,0,0,0,0
127,3,2015-07-01,AS,ORD,"Chicago, IL",SEA,"Seattle, WA",1530,1524,-6,0,1721,0,0,0,0,0
128,3,2015-07-01,AS,ORD,"Chicago, IL",SEA,"Seattle, WA",615,603,-12,0,1721,0,0,0,0,0
129,3,2015-07-01,AS,ORD,"Chicago, IL",SEA,"Seattle, WA",800,754,-6,0,1721,0,0,0,0,0
131,3,2015-07-01,AA,ORD,"Chicago, IL",CLT,"Charlotte, NC",2148,2150,2,0,599,0,0,0,0,0
147,3,2015-07-01,NK,ORD,"Chicago, IL",MCO,"Orlando, FL",1100,1108,8,0,1005,0,0,0,0,0
150,3,2015-07-01,NK,ORD,"Chicago, IL",DFW,"Dallas/Fort Worth, TX",2010,NaN,NaN,1,802,0,0,0,0,0
404,3,2015-07-01,F9,ORD,"Chicago, IL",IAD,"Washington, DC",700,712,12,0,589,0,0,0,0,0
405,3,2015-07-01,NK,ORD,"Chicago, IL",DFW,"Dallas/Fort Worth, TX",920,1042,82,0,802,0,0,3,0,77
406,3,2015-07-01,NK,ORD,"Chicago, IL",LBE,"Latrobe, PA",1329,1322,-7,0,459,0,0,0,0,0
410,3,2015-07-01,NK,ORD,"Chicago, IL",DEN,"Denver, CO",2155,2304,69,0,888,6,0,1,0,55
415,3,2015-07-01,F9,ORD,"Chicago, IL",PHX,"Phoenix, AZ",1125,1112,-13,0,1440,0,0,0,0,0
423,3,2015-07-01,F9,ORD,"Chicago, IL",SFO,"San Francisco, CA",2030,2034,4,0,1846,0,0,0,0,0
427,3,2015-07-01,F9,ORD,"Chicago, IL",LAX,"Los Angeles, CA",2120,2113,-7,0,1744,0,0,0,0,0
435,3,2015-07-01,F9,ORD,"Chicago, IL",ATL,"Atlanta, GA",1435,1528,53,0,606,15,0,30,0,0
584,3,2015-07-01,UA,ORD,"Chicago, IL",MCO,"Orlando, FL",1040,1038,-2,0,1005,0,0,0,0,0
587,3,2015-07-01,UA,ORD,"Chicago, IL",IAH,"Houston, TX",1220,1252,32,0,925,18,0,2,0,14
588,3,2015-07-01,UA,ORD,"Chicago, IL",FAI,"Fairbanks, AK",1553,1552,-1,0,2785,0,0,0,0,0
589,3,2015-07-01,UA,ORD,"Chicago, IL",IAH,"Houston, TX",1742,1803,21,0,925,21,0,11,0,0
591,3,2015-07-01,UA,ORD,"Chicago, IL",PHL,"Philadelphia, PA",1349,1348,-1,0,678,0,0,0,0,0
648,3,2015-07-01,VX,ORD,"Chicago, IL",LAX,"Los Angeles, CA",1725,1723,-2,0,1744,0,0,0,0,0
651,3,2015-07-01,VX,ORD,"Chicago, IL",LAX,"Los Angeles, CA",915,919,4,0,1744,0,0,0,0,0
652,3,2015-07-01,VX,ORD,"Chicago, IL",SFO,"San Francisco, CA",1840,1849,9,0,1846,0,0,0,0,0
657,3,2015-07-01,VX,ORD,"Chicago, IL",SFO,"San Francisco, CA",1410,1418,8,0,1846,0,0,0,0,0
659,3,2015-07-01,VX,ORD,"Chicago, IL",SFO,"San Francisco, CA",800,800,0,0,1846,0,0,0,0,0